.margin-top15 {
  margin-top: 15px !important;
}

.search-button {
  margin: 10px 15px 0 15px !important;
}

.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  #expertise-search-bar {
    width: 90vw;
  }
}

@media only screen and (min-width: 601px) {
  #expertise-search-bar {
    width: 500px;
  }
}

.help-message {
  text-align: left;
  max-width: 900px; 
  margin-left: 80px !important;
  margin-right: 80px !important;
}
